{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="main-header">Инструкция по поиску</h1>
    <h3>Как можно сделать запрос?</h3>
            <details class="instruction-details">
                <summary> Запрос по словоформе</summary>
                <p>Чтобы найти тексты с точной словоформой, введите нужную словоформу в двойных кавычках. Например:</p>
                <p class="example"><i>"невдупленыша"</i></p>
            </details>


            <details>
                <summary> Запрос по лемме </summary>
                    <p>Чтобы найти тексты с леммой, введите нужную лемму без кавчек. Например:</p>
                    <p class="example"><i>невдупленыш</i></p>
            </details>

            <details>
                <summary> Запрос по словоформе и части речи </summary>
                    <p>Чтобы найти тексты со словоформой определенной части речи, введите словоформу в двойных кавычках, значк + и условное обозначение нужной части речи. Например:</p>
                    <p class="example"><i>"чиво"+ADV</i></p>
            </details>
</div>
{% endblock %}
